<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p style = "text-align: center"><img src="/assets/Logo/logotipo.png" class = "logo" /></p>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="exemplo@exemplo.com" [class.invalid]="!loginForm.controls.email.valid &&
  loginForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
  loginForm.controls.email.dirty">
      <p>Porfavor, entre com um formato válido de email.</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input formControlName="password" type="password" placeholder="******" [class.invalid]="!loginForm.controls.password.valid &&
  loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid &&
  loginForm.controls.password.dirty">
      <p>Sua senha deve conter ao menos 6 caracteres.</p>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Entrar
  </button>
  </form>
  <button ion-button block clear (click)="goToSignup()">
  Cadastre-se
  </button>
  <button ion-button block clear (click)="goToResetPassword()">
  Esqueci minha senha :(
  </button>
</ion-content>