<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Criar conta
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <img src="http://placehold.it/300x100">
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="exemplo@exemplo.com" [class.invalid]="!signupForm.controls.email.valid &&
  signupForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid &&
  signupForm.controls.email.dirty">
      <p>Porfavor, entre com um formato válido de email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input formControlName="password" type="password" placeholder="******" [class.invalid]="!signupForm.controls.password.valid &&
  signupForm.controls.password.dirty">
      </ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid &&
    signupForm.controls.password.dirty">
      <p>Sua senha deve conter ao menos 6 caracteres.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Confirma Senha</ion-label>
      <ion-input formControlName="rpassword" type="password" placeholder="******" [class.invalid]="!signupForm.controls.password.valid &&
  signupForm.controls.password.dirty">
      </ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!(signupForm.value.password == signupForm.value.rpassword)">
      <p>Suas senhas devem conferir.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
  Cadastre-se
  </button>
  </form>
</ion-content>